{% extends "home/header.html" %}

   {% load staticfiles %}

{% block title %}
    home
{% endblock %}

{% block content %}
<header class="typewriter homepage-header">
       <h1 style="position: absolute; top:300px; left:50px;">WELCOME TO MY SITE! I'M A WEB DEVELOPER..</h1>
    <a href="#homepage-main"><img class="arrow" src="{% static 'home/img/arrow.svg' %}" alt="arrow"/></a>
</header>

<main id="homepage-main">
    <article>
    <h2 style="text-align: center;">A short movie about this site</h2>
<div style="padding-left: 20%; padding-right: 20%;"><iframe style="margin: auto;" width="640" height="360" src="https://www.youtube.com/embed/cf6PpNBXgWE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    </article>

<!-- research projects -->
    <article style="border-top: .5px solid grey;">
        <h2 style="text-align: center;">Medical research</h2>
<ul>
    <li>
        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/26030161">
            Performing a meta-analysis of anti-tumor effects of metformin in animal models of hepatocellular carcinoma.</a></li>
    <li>
    <a target="_blank" href="https://www.nature.com/articles/ s41598-017-10105-7.pdf?origin=ppub">Evaluating prognostic factor, CD4, for overall survival of HIV patients.
    </a></li>
    <li>
        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=PMID%3A+28661048">
           Describing prevalence of HPV infection in women in the inner mongolia.</a></li>
    <li>
        <a target="_blank" href=" https://www.ncbi.nlm.nih.gov/pubmed/28860836">Evaluating the diagnostic ability of CK-18 for severity of liver disease in chronic hepatitis B infected patients.</a></li>
    <li>
        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5362478/">Contributors to overall survival disparity by ethnicity in patients with hepatocellular carcinoma.</a></li>
</ul>

    </article>

<!-- web applications -->
    <article style="border-top: .5px solid grey;">
       <h2 style="text-align: center;">Web applications</h2>
    </article>



</main>



{% endblock %}
