<nav class="navbar navbar-default bg-light" data-spy="affix">
           <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><font color="#ffbf00"><em>jl</em></font></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><strong>HOME</strong></a></li>
                        <li><a href="/about/"><strong>ABOUT</strong></a></li>
                        <li><a href="/portfolio/"><strong>PORTFOLIO</strong></a><li>
                        <li><a href="https://www.dropbox.com/s/j5qy7sph2kd7shc/CV_Juan%20Li_webDev.pdf?dl=0"><strong>CV</strong></a></li>
                        <li><a href="/blog/"><strong>BLOG</strong></a></li>
                        <li><a href="/contact/"><strong>CONTACT</strong></a></li>
                    </ul>
                </div>
            </div>
       </nav>