
<p>I have finished my four-year PhD study in Erasmus MC, The Netherlands (Nov 14, 2017).</p>
Coming from clinical medicine background, I have successfully implemented data analysis/programming in medical projects.
I have worked on several collaboration projects by analyzinng patients database,
which includes local hospital population (Erasmus MC hospital, Rotterdam) and regional population (Yunnan, China).
In addition, for some certain research questions, open source data (e.g: SEER database in United States)
was once used for one project, and previously individual published data was used in a meta-analysis project.

To start any new project, I need to propose a good research question, and try to collect relevant data,
either using public open source or collaborated , explore data, model data, and finally,
publish results in peer-reviewed journal. Communicate with people using data, let the data tell us a story about
what happens, why it happens, what will happen, etc..  The proper integration of data analysis, programming,
and medical knowledge provides me a powerful tool to do my job. All research projects can be found in my PhD thesis.

<p>I have been trained on statistical analysis, machine learning, and self-taught programming.
    All learning experience have been posted in this website.
</p>

<p>You can easily find my projects in <a href="{% url 'about' %}">Project section</a>.</p>

